<a href="https://colab.research.google.com/github/TiagoBarantini/Pro_Eng_dados/blob/main/Prepara%C3%A7%C3%A3o%2C%20Orquestra%C3%A7%C3%A3o%20e%20Fluxos%20de%20Dados%20-%20POS-%20AULA1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%%bash
#instalação JAVA
apt-get update && apt-get install openjdk-8-jdk-headless -qq > /dev/null

#instalação do pyspark
pip install -q pyspark

In [4]:
#definir uma variavel de ambiente para identificador local do JAVA
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

In [5]:
%%bash

#download dos dados utilizados
mkdir titanic
curl https://raw.githubusercontent.com/neylsoncrepalde/titanic_data_with_semicolon/main/titanic.csv -o titanic/titanic.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 60326  100 60326    0     0   285k      0 --:--:-- --:--:-- --:--:--  284k

In [6]:
#importar os modulos necessarios

from pyspark.sql import SparkSession
from pyspark.sql import functions as f

In [7]:
#iniciar uma sessão spark
spark = SparkSession.builder.getOrCreate()

In [10]:
#leitura de dados
titanic = (
    spark
    .read
    .format("csv")
    .option("delimiter", ";")
    .option("header", True)
    .option("inferSchema", True)
    .load("titanic/titanic.csv")
  )

titanic.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [11]:
#escrever od dados

(
    titanic
    .write
    .mode("overwrite")
    .save("titanic_parquet")
)